<div class="contentProfile col-md-12 col-lg-9 col-xl-8">
    <%= form_with model: @album, url: album_path(@album), method: :patch, class: 'newPhoto w-100 h-100 d-flex flex-column justify-content-start', local: true do |f| %>
        <div class="newPhoto__heading d-flex align-items-center justify-content-between">
            <h2 class="newPhoto__heading-text">Edit Album</h2>
            
            <% if current_user.user_type == 'admin'%>
                <%= link_to 'Back', admin_albums_path, class: 'btn newPhoto__heading-back' %>
            <%else%>
                <%= link_to 'Back', albums_user_path(current_user), class: 'btn newPhoto__heading-back' %> 
            <%end%>
        </div>
        
        <span class="newPhoto__arrow w-100 d-block"></span>
        <div class="newPhoto__input d-flex">
            <div class="row w-100">
                <div class="col-6">
                    <div class="newPhoto__input-1 d-flex flex-column">
                        <div class="newPhotoInput1__title d-flex flex-column my-3">
                            <label class="newPhotoInput1__title-heading mb-2">Title</label>
                            <%= f.text_field :title, class:'newPhotoInput1__title-content form-control',autofocus: true, placeholder: 'Album Title' %>
                        </div>

                        <div class="newPhotoInput1__mode d-flex flex-column my-3">
                            <label class="newPhotoInput1__mode-heading mb-2">Sharing mode</label>
                            <%= f.select :mode, options_for_select([["Public", 'Public'], ["Private", 'Private']]),{}, class: 'newPhotoInput1__mode-content form-select' %>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="newPhoto__input-2 d-flex flex-column my-3">
                        <label class="newPhotoInput2__descrip-heading mb-2">Description</label>
                        <%= f.text_area :description, class: 'newPhotoInput2__descrip-content form-control', placeholder:'Album Description', rows: 5  %>
                    </div>
                </div>
                
            </div>
        </div>

        <% if @album.list_image.present? %>
            <div class="listFileAlbum d-flex flex-wrap"  data-controller="change" >
                <% @album.list_image.each  do |photo| %>
                    <div class="newPhoto_file d-flex justify-content-center align-items-center my-4 me-4 " >
                        <%= image_tag(photo.url,class:'h-100 w-100') %>
                        <button class="newPhoto_btn bg-transparent border-0" type="button"  data-controller="delete" data-action="click->delete#deletePhoto" data-delete-file-name-param= "<%= photo.file.filename%>" >
                            <i class="newPhoto_delete-icon fa-solid fa-x"></i>
                        </button>
                        <%= hidden_field :album, :list_image, multiple: true, value: photo.identifier %>
                    </div>
                 
                <%end%>
                    <label class="newPhoto_fileInput d-flex justify-content-center align-items-center my-4 me-4" for="newAlbum_inputPhoto"  >
                        <i class="newPhoto_file-icon fa-regular fa-image"></i>
                    </label>
            </div>
        <%end%>
        <input type="file" id="newAlbum_inputPhoto" class="d-none" multiple />
        <%= f.file_field :list_image, multiple: true, class: 'd-none', id: 'fileInput' %>


        <div class="newPhoto__btn">
            <%= f.submit 'Save', class: 'btn newPhoto__submit btn-success' %>
            <button type="button" class="btn newPhoto__delete btn-danger" data-bs-toggle="modal" data-bs-target="#edit-album">
                <i class="fa-solid fa-trash-can"></i> Delete
            </button>
        </div>
        
        
    <%end%>
</div>


<!-- Modal -->
<div class="modal fade" id="edit-album" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Album</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete album ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to  album_path(@album),  data: {turbo_method: :delete}, class: 'btn newPhoto__delete btn-danger text-decoration-none' do  %>
            <i class="fa-solid fa-trash-can"></i> Delete
        <%end%>
    </div>
    </div>
</div>
</div>